<section id="gigs" class="container">
    <h1>All Books</h1>

    {{#each books}}
    <div class="gig">
        <h3>{{dataValues.title}}</h3>
        <h4>{{dataValues.writer}}</h4>
        <p>{{dataValues.description}}</p>
        {{!--  <ul>
            <li>Budget: $10,000</li>
            <li><a href="#" class="btn btn-reverse">Apply Now</a></li>
        </ul> --}}
        <div class="tech">
            <small>Categories: <span>{{dataValues.categories}}</span></small>
        </div>
    </div>
    {{else}}
    <p>No books available</p>
    {{/each}}


</section>